@import "./variables.scss";

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: #{$dark_background-1};
    --background-2: #{$dark_background-2};
    --background-3: #{$dark_background-3};
    --color-1: #{$dark_color-1};
    --color-2: #{$dark_color-2};
    --color-3: #{$dark_color-3};
    --color-4: #{$dark_color-4};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-1: #{$light_background-1};
    --background-2: #{$light_background-2};
    --background-3: #{$light_background-3};
    --color-1: #{$light_color-1};
    --color-2: #{$light_color-2};
    --color-3: #{$light_color-3};
    --color-4: #{$light_color-4};
  }
}
