// for light scheme
$light_background-1: #a0a5af;
$light_background-2: #667ca7;
$light_background-3: #eeeeee;
$light_color-1: #000000;
$light_color-2: #c91919;
$light_color-3: #2764f4;
$light_color-4: #29dd77;

// for dark scheme
$dark_background-1: #282c34;
$dark_background-2: #667ca7;
$dark_background-3: #585858;
$dark_color-1: #e4e4e4;
$dark_color-2: #8d1111;
$dark_color-3: #14337b;
$dark_color-4: #15733e;
