@import "src/styles/mixins.scss";

.navigation {
  margin-top: 15px;
  @include flex(center, space-between, row);

  &-settings {
    @include flex(center, flex-start, row);
    gap: 15px;
  }

  &-pagination {
    @include flex(center, flex-start, row);
    gap: 15px;
  }
}
